# Created by https://www.gitignore.io/api/zig
# Edit at https://www.gitignore.io/?templates=zig

### zig ###
# Zig programming language

zig-cache/
build/
build-*/
docgen_tmp/

# End of https://www.gitignore.io/api/zig
